*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
   
}
body{
    height: 100%;
    background-color: var(--body-color);
    transition: all 0.5s all;
}
.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    border-right:2px solid var(--text-color);
    height: 650px;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.close .text,
.sidebar.close li .icon,
.sidebar.close .search-box,
.sidebar.close .image,
.sidebar.close .mode{
    opacity: 0;
}

.sidebar.close li .icon-menu{
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar .menu-box{
    display:flex;
    position: absolute;
    top: -20%;
    left: 6%;
}
.sidebar li .icon-menu{
    color: #ccc;
    opacity: 0;
}


.sidebar.text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.4s ease;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close {
    width: 50px;
    height: 50px;
    top: 1%;
    left: 2%;
    border-radius: 8px;
    
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 17px;
    opacity: 1;  
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: all 0.2s ease;
}

.sidebar header {
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
    color: var(--text-color);
}
.header-text .profession{
    margin-top: -1px;
    color: var(--text-color);
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    border-right:2px solid var(--text-color);
    background:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 12px;
    transition: all 0.3s ease;
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background-color: var(--primary-color-light);
    border-radius: 6px;
    transition: all 0.5s ease;
    opacity: 1;
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--primary-color-light);
    transition: all 0.5s ease;
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition:all 0.4s all;
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color:var(--sidebar-color)
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color:var(--text-color)
}

.sidebar .menu-bar{
    
    height:calc(100% - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background:var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition:ease-in-out 04ms all;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 1;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: all 0.5s ease;
    
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background:var(--toggle-color);
    transition: all 0.5s ease;
}
.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: -15%;
    left: 4px;
    transform: translateY(50%);
    background:var(--primary-color-light);
    cursor: pointer;
    transition:all 0.3s all;
}


body.dark .switch::before{
    left: 25px;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.home{
    position:static;
    background:var(--body-color);
    width: 786px;
    height: 100%;
    width: 100%;
    transition:all 05s all;
}

.sidebar.close ~ .home{
    left: 0px;
    width:100%;
}
.Info{
    background-image: url(../icons/Snapinsta.app_21980685_526441997709137_7744302514064850944_n_1080\ \(1\).jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 450px;
    
}
.wesleyImg {
    display: none;
}
.text-container h1{
    font-size: 160%;
}

.Intro p{
    margin-bottom: 30px;
}

.Nome{
    font-size: 150%;
}

.porti-Nome{
    font-size: 150%;
}

.about {
    display: flex;
    flex-direction: column-reverse;
}
.about-img{
    width: 100%;
    margin: 10px 0px -80px 0px;
    
}
.about-img img{
    width: 80px;
}

.heading {
    font-size: 25px;
    width: 100%;
    padding: 0px;
    text-align: center;
    color: var(--text-color);;
}


.about-content h2{
    text-align: justify;
    font-size: 16px;
    margin: 10px 0px;
    
}

.about-content a{
    display: inline-block;
    margin-left: 30%;
    background-color: var(--body-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

#Especialidades .container .title-espe{
    width: 90%;
    height: 100%;
    margin-bottom: 10%;
    justify-content:center;
    
}

#Especialidades .container .box-title .b1{
    width: 200px;
}

#Especialidades .container .box-title .b2{
    width: 175px;
    
}
#Especialidades .container .box-title .b3{
    width: 150px;
}
#Especialidades .container .box-title .b4{
    width: 50px;

}
#Especialidades .container .box-title .b5{
    width: 100px;
 
}
#Especialidades .container .box-title .b6{
    width: 50px;
   
}
.project{
    height: 320px;
    margin: 0% 1px;
   
}

.swiper {
    width: 320px;

}

.card .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(58, 8, 66);
    border: 5px solid var(--body-color);
}
.card .image img:nth-of-type(1n){
    background-color: var(--primary-color);

}

.card {
    position: relative;
    background:var(--sidebar-color);
    border: 6px solid var(--text-color);
    border-radius: 22px;
}

.card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color:var(--primary-color);
    clip-path: circle(55% at 0 0);
    border-top-right-radius: 10px;
}

.card .card-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    z-index: 100;
}

.card .social-media{
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .social-media i{
    color: var(--text-color);
    margin-top: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 10px;
}

.card .social-media i:hover{
    color: var(--primary-color);
}
.card .social-media i::selection{
    color: var(--primary-color);
}
.card .name-profession{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    color: var(--text-color); 
       
}

.name-profession .name {
    font-size: 14px;
    font-weight:500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.name-profession .profession {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
}

.card .rating{
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.card .rating i{
    font-size: 14px;
    color: var(--primary-color);
    margin: 0 2px;
}

.card .button{
    margin-top: 5px;
}

.card .button button {
    padding: 8px 4px;
    font-size: 8px;
}

.card .button button:hover{
    background-color: var(--sidebar-color);
    color:var(--text-color);
}

.swiper-pagination-bullet {
    height: 5px;
    width: 26px;
    background-color: var(--sidebar-color);
    border-radius: 26px;
}

.swiper-button-next,
.swiper-button-prev {
    height: 5px;
    width: 3px;
}

.contato{
    display:block;
    justify-content: center;
    width: 100%; 
    border-top:2px solid var(--text-color);
    background: var(--body-color);
}
.contato h2{
    font-size: 16px;
    width: 368px;
    padding: 10px 0px;
    text-align: center;
    color: var(--text-color);
}

form label, form p {
    display: block;
    align-items: center;
    font-size: 14px;
    color: var(--text-color); 
}

fieldset{
    width: 368px;
    padding: 5px;
    border: 6px solid var(--primary-color);
    border-radius: 8px;
}

.input-padrao {
    display: block;
    margin: 0 0 10px;
    color: var(--text-color);
    padding: 5px 0px;
    width: 368px;
    border: 6px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--body-color);
    
}
textarea {
    width: 50%;
    height: 10px;
}
.checkbox {
	margin: 10px 0;
}

.enviar {
	width: 40%;
	padding: 5px 0px;
    margin: 10px 30%;
	background: var(--primary-color-light);
	color: var(--text-color);
	font-weight: bold;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	transition: 1s background;
	cursor: pointer;
}

.enviar:hover {
    color: var(--body-color);
	background: var(--primary-color);
	transform: scale(1.2);
}


.Sobre{
    background-color: rgba(35, 12, 249, 0);
}
.Sobre p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

footer {
	text-align: center;
	background:var(--body-color);
	padding: 10px 0;
}

footer img{
	width: 40px;
	border-radius: 8%;
	background-color:var(--primary-color);
}

footer p{
    background-color: transparent;
}

.copyright {
	color: var(--text-color);
	font-size: 12px;
	margin: 20px 0 0;
   
}
