*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(14, 14, 34);
}

header{
    display:block;
    position: fixed;
    width: 100%;
    display: block;
    align-items: center;
	top: 0;
    
}

.nav{
    display: flex;
    width: 100%;
    border-bottom: 3px white solid;
    padding: 2% 0% 2% 0%;
    background-color:rgb(14, 14, 34);
    font-family: 'VT323', monospace;

}

#nav a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    margin: 5px;
    letter-spacing: 2px;
    background-color:rgb(14, 14, 34);   
}

#nav a:hover{
    color: grey;
}
#menu1, #menu{
    display: flex;
    list-style: none;
    width: 40%;
    margin: 0 auto;
    text-transform: uppercase;
    background-color:rgb(14, 14, 34);
}

#menu1{
    padding-right:25%;
}
#menu {
    padding-left:25%;
}
.menu-mode{
    display: none;
}

main {
	display:inline-block;
    width: 100%;
       
}

.rota{
    display: flex;
    width: 100%;
    height: 5%;
	right: 0;
    top: 10%;
    position:fixed;
    background-color:white ;
    padding-left: 6%;
}
 .rota i{
    color: black;
    padding-top: 9px;
    cursor: pointer;
    transition: .3s;
    background-color: white;
}
.rota i:hover{
    color: aqua;
}
.rota .caminho{
    font: 80%;
    font-weight: 500;
    color: black;
    margin-left: 0;
    margin-top: 7px;
    background-color: white;
    font-family: 'VT323', monospace;
    
}
 
 .rota .caminho:hover{
    color: aqua;
}

main{
    width: 100%;
    
}

 .Projeto-conversor{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10% 10% 0% 10%;
    top:0;
    background-color: black;
}

.Projeto-conversor h1{
    font-size: 70px;
    line-height: 1.5;
    width: 60%;
    text-align:right;
    padding-right: 10px;
    color: black;
    background-color:white;
    display: block;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.text{
    display: block;
    width: 100%;
    margin: 5% 0% 0% 0%;
    text-indent: 15px;
    color: white;
    text-align: justify; 
    font-size: 26px;
    background-color: black;
    font-family: 'VT323', monospace;
}

.text::first-letter{
    text-transform: uppercase;
}

.Projeto-conversor span{
    display: block;
    width: 100%;
    margin: 5% 0% 0% 0%;
    color: white;
    text-align: justify; 
    font-size: 26px;
    background-color: black;
    font-family: 'VT323', monospace;
}

.cod-Principal{
    font-size: 70px;
    width: 100%;
    text-align:center;
    color: white;
    padding: 2% 0%;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(58, 8, 66);
    
}

.projeto-cod{
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction:row;
    padding-right: 5%;
    background-color:rgb(1, 1, 27);    
    
}

.projeto-cod h3{
    font-size: 70px;
    line-height: 1;
    width: 95%;
    text-align:right;
    margin:40px 0px 40px 0px;
    padding: 20px 20px 15px 0px;
    color: white;
    background-color: rgb(116, 116, 119);
    font-family: 'Press Start 2P', cursive;
    
}
.projeto-cod p{
    display: block;
    width: 100%;
    line-height: 40px;
    color: white;
    text-align:justify; 
    font-size: 26px;
    padding:0px 50px 0px 40px;
    background-color:rgb(52, 52, 52);
    font-family: 'VT323', monospace;
}
.projeto-int{
    width: 100%;
    background-color:rgb(52, 52, 52);
    
}
.projeto-content{
    width: 100%;
    background-color:rgb(1, 1, 27);
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 0% 5% 0% 5%;
    margin: 3% 0% 3% 0%;
    font-family: 'VT323', monospace; 
    font-size: 18px;  
}
.projeto-content p{
    display: block;
    width: 100%;
    line-height: 40px;
    color: white;
    text-align:justify; 
    padding: 1rem ;
    overflow-x:auto;
    scrollbar-width: thin;
    background-color:rgb(1, 1, 39);
    border-radius: 24px 24px 0px 0px;
    
     
}
.identa-1 {
    padding-left: 35px;
    background-color:rgb(1, 1, 39);
    color: white;
}
.cod-sublinhado {
    color: rgb(62, 57, 57);
    font-weight: 900;
    font-style: italic;
    background-color: rgb(83, 226, 251);

}
.variavel-funcao{
    background-color: transparent;
    color:rgb(249, 44, 37);
}
.funcao {
    background-color: transparent;
    color: rgb(52, 43, 226);
}
.import {
    background-color: transparent;
    color: rgb(138, 241, 154);
  
}
.import-ex {
    background-color: transparent;
    color: rgb(243, 158, 164);
    font-style: italic;
}
.variavel {
    background-color: transparent;
    color: yellow;
}
.sinais{
    background-color: transparent;
    color: rgb(0, 139, 104);
}
.variavel-tp{
    background-color: transparent;
    color:rgb(203, 20, 220);
}
.pontuacao {
    color: aqua;
    background-color:rgb(1, 1, 39);
    
}
.projeto-content::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, rgb(143, 145, 217)  11%, rgb(52, 48, 70) 60%,rgb(23, 20, 35) 100%);
    border: 3px solid rgb(251, 251, 251); 
    border-radius: 100px ;
}
.projeto-content::-webkit-scrollbar-track {
    background-image:linear-gradient(180deg, rgb(101, 101, 101) 80deg, rgb(52, 48, 70) 0%, rgb(101, 101, 101) 90%);
    box-shadow: inset 2px 2px 5px 0 rgb(255, 255, 255);  
    border-radius: 100px;
}
.projeto-content::-webkit-scrollbar {
    border-radius: 100px;
    background-color:rgb(102, 102, 102);
}

footer {
	text-align: center;
	background: rgb(12,0,10);
    background-image:url(../icons/gifs-de-anime-aesthetic-49.gif);
    background-position-y:center;
    background-position-x:right;
	padding: 10px 0;
}
footer img{
	width: 90px;
	border-radius: 8%;
	background-color:rgb(27, 5, 39);
}

footer p{
    background-color: transparent;
}

.copyright {
	color: #FFFFFF;
	font-size: 23px;
	margin: 20px 0 0;
    font-family: 'VT323', monospace;
}


