*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

header{
    position: fixed;
    margin: 2% ;
    width: 96%;
    background:black;
    display: block;
    align-items: center;
    border-top: 1px gray solid; 
    border-bottom: 1px gray solid;
    padding: 2% 0% 2% 0%;
}
header img {
    width: 10%;
    top: 0%;
    position:absolute;
    left: 50%;
    
}
   
.logo{
   font-size: 25px;
   color: white;
   text-decoration: none;
   font-weight: 600;
   cursor: default;
}
.nav{
    display: flex;
    width: 100vw;

}

#nav a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}


.nav a:hover{
    color: aqua;
}
#menu1, #menu{
    display: flex;
    list-style: none;
    width: 40%;
}
#menu1{
    padding-right:25%;
}
#menu {
    padding-left:25%;
}
.menu-mode{
    display: none;
}

.Conteudo{
    background-color:rgb(0, 16, 33) ;
    top: 0;
    width: 100%;
   
}
.Conteudo .rota{
    top: 20%;
    left: 8%;
    position:absolute;
    font-size: 90%;
    color: white;
   
 }
 .rota img{
    width: 10%;
    margin: 1% 2% -1% 1%;
 }
.Apresentacao{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10% 0% 10% 20%;
    background-color: black;
    
}
.Info{
    display: block;
    position: absolute;
    font-size: 80%;
    width: 58%;  
}

.Intro{
    display: block;
    margin-right: 70%;
    font-family: 'Texturina', serif;
    font-style: italic; 
}

.Nome{
    width: 400%;
    font-size: 500%;
    color:white;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;

}
.Intro p{
    padding-top: 7%;
    color: silver;
}
.porti-Nome{
    font-size: 500%;
    color:white;
    letter-spacing: 5px;
    overflow: hidden;
    white-space: nowrap;    
    color: rgb(0, 183, 255);
}
.porti-Nome {
    animation:
    cursor 400ms steps(10) infinite normal,
    porti-Nome 4s steps(20) 1s normal both;
}
.line {
    border-right: 2px solid white;
    overflow: hidden;
    white-space: nowrap;
    
}
@keyframes porti-Nome{
    from {
        width: 0;
    }
    to {
        width: 564px;
    }
}
@keyframes cursor {
    from {
        border-right-color: aliceblue;
    }
    to {
        border-right-color: transparent;
    }
}
.Botoes{
    margin-top: 50px;
}
.Botoes a{
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 12px;
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: rgb(0, 183, 255);
    transition: 0.3s ease-in-out;
}
.Botoes a:hover{
    font-size: 80%;
    margin-right: 45px;
    color:white ;
}

.perfil img{
    width: 55%;
}

h2{
    color: white;
    text-align: center;
}
.Sobre{
    background-color: rgba(35, 12, 249, 0);
}
.Sobre p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
#menu-btn{
    display: none;
}
@media only screen and (max-width: 950px) {
.header{
    box-sizing: border-box;
    height: 15px;
    padding: 1rem;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#logo {
    width: 75px;
    font-weight: bold;
    
    
}

nav{
    display: flex;
    align-items: center;
    margin: 0% 5% 0% -11%;
    transition:all 5ms ease-in;
}
#menu{
    display: none;
}

#menu1{
    display: flex;
    gap: -10px;
    list-style: none;
}
#menu1 a{
    font-size: 15px;
    display: flex;
    margin: 0px 5px;
}


#menu-btn{
    display: block;
    background-color:transparent;
    border: 0;
   
    
}
.button{
    width: 20px;
    
}


}
@media only screen and (max-width: 600px){
    .Apresentacao{
        display: flex;
        flex-direction: column-reverse;
        padding:20% 0% 0% 0%;
    }
    .Info{
        margin:0% 15% 0% 0%;
    }
    .perfil img{
        display: block;
        align-items: center;
        width: 80%;
    }
  
}