:root{
    --body-color:#e4e9f7;
    --sidebar-color:#fff;
    --primary-color:#38b6ff;
    --primary-color-light:#f6f5ff;
    --toggle-color:#ddd;
    --text-color:#707070;
}
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
   
}
body{
    height: 100%;
    background-color: var(--body-color);
    transition: all 0.5s all;
}
.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    border-right:2px solid var(--text-color);
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar.text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.4s ease;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close {
    width: 88px;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 17px;  
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: all 0.2s ease;
}

.sidebar header {
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
    color: var(--text-color);
}
.header-text .profession{
    margin-top: -1px;
    color: var(--text-color);
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    border-right:2px solid var(--text-color);
    background:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 12px;
    transition: all 0.3s ease;
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background-color: var(--primary-color-light);
    border-radius: 6px;
    transition: all 0.5s ease;
}
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--primary-color-light);
    transition: all 0.5s ease;
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition:all 0.4s all;
}
.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color:var(--sidebar-color)
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color:var(--text-color)
}

.sidebar .menu-bar{
    
    height:calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background:var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition:ease-in-out 04ms all;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 1;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: all 0.5s ease;
    
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background:var(--toggle-color);
    transition: all 0.5s ease;
}
.switch::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: -15%;
    left: 4px;
    transform: translateY(50%);
    background:var(--primary-color-light);
    cursor: pointer;
    transition:all 0.3s all;
}


body.dark .switch::before{
    left: 25px;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.home{
    position:relative;
    background:var(--body-color);
    width: 1024px;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition:all 05s all;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.Conteudo{
    background-color:rgb(0, 16, 33) ;
    top: 0;
    width: 100%;
   
}

.Apresentacao{
    display:block;
    width: 100%;
    height: 100%;
    
}
.Info{
    display:flex;
    align-items: center;
    background-color: var(--body-color);
}

.Intro{
    width: 100%;
    display: block;
    top: 0;
}

.text-container {    
    display: flex;
    padding-left: 45px;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 400%;
    color: rgba(225,225,225, .01);
    background-image:url(../icons/gifs-de-anime-aesthetic-49.gif);
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align:justify;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', cursive;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

.Nome{
    display: flex;
    width: 100%;
    font-size: 320%;
    padding-left: 45px;
    color:var(--text-color);
    font-weight:900;
    

}
.Intro p{
    padding-left: 50px;
    font-size: 14px;
    color: var(--text-color);
    
}
.porti-Nome{
    font-size: 200%;
    color:var(--text-color);
    overflow: hidden;
    white-space: nowrap; 
      
}
.porti-Nome {
    animation:
    cursor 500ms steps(10) infinite normal,
    porti-Nome 8s steps(30) 1s normal both;
}
.line {
    border-right: 4px solid black;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 50px;
}


.wesleyImg img{
    width: 100%;
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--sidebar-color);
}
.about-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-img img{
    width: 200px;
    background-image: linear-gradient(to right, var(--body-color), var(--primary-color) );
    border-radius: 0 0 45px 45px;
}

.heading {
    font-size: 25px;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    color: var(--text-color);;
}

.about-content {
    padding: 20px;
    
}

.about-content h2{
    text-align: justify;
    margin: 55px 0px;
    font-size: 16px;
    
}
.about-content span{
    color: aqua;
}
.about-content h3{
    font-size: 14px;
    text-align: justify;
    color: var(--primary-color);
}
.about-content p{
    font-size: 14px;
    margin: 2rem 0 3rem;
    text-align: justify;
    color: var(--text-color);
   
}
.about-content a{
    display: inline-block;
    margin-left: 80%;
    background-color: var(--body-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 1.2rem 2.8rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    
}

.about a:hover{
    background: var(--primary-color);
    color: var(--body-color);
    
}
#Especialidades .container{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: table;
    vertical-align: middle;
    margin: 50px 0px 0px 20px;
}

#Especialidades .container .title-espe{
    width: 90%;
    height: 100vh;
    justify-content:center;
    
}

#Especialidades .container .title-espe h1{
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
}

#Especialidades .container .title-espe p{
    color: #ccc;
    width: 500px;
    margin-top: 30px;
    font-size: 14px;
}

#Especialidades .container .box-title{
    width: 50%;
    margin-top: 20px;
    padding: 10px 50px;
    box-shadow: 0 0 20px 0 var(--primary-color);
    border-radius: 20px;
}

#Especialidades .container .box-title span{
    color: var(--text-color);
    font-size: 14px;
}

#Especialidades .container .box-title .b1{
    width: 400px;
    height: 8px;
    background: var(--text-color);
    border-radius: 8px;
}

#Especialidades .container .box-title .b2{
    width: 350px;
    height: 8px;
    background: var(--primary-color);
}
#Especialidades .container .box-title .b3{
    width: 300px;
    height: 8px;
    background: var(--primary-color);
}
#Especialidades .container .box-title .b4{
    width: 100px;
    height: 8px;
    background: var(--primary-color);
}
#Especialidades .container .box-title .b5{
    width: 200px;
    height: 8px;
    background: var(--primary-color);
}
#Especialidades .container .box-title .b6{
    width: 100px;
    height: 8px;
    background: var(--primary-color);
}

.project-port{
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top:50px;
    background: var(--body-color);
}

.project-port h2{
    font-size: 16px;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    color: var(--text-color);
   
}

.project-port p{
    display: block;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    padding: 5% 10%;
    font-size: 14px;
}

.project{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 0% 5%;
   
}
.swiper {
    width: 1024px;

}

.card .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(58, 8, 66);
    border: 5px solid var(--body-color);
}
.card .image img:nth-of-type(1n){
    background-color: var(--primary-color);

}

.card {
    position: relative;
    background:var(--sidebar-color);
    border: 6px solid var(--text-color);
    border-radius: 22px;
}

.card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color:var(--primary-color);
    clip-path: circle(55% at 0 0);
    border-top-right-radius: 10px;
}

.card .card-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    z-index: 100;
}

.card .social-media{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .social-media i{
    color: var(--text-color);
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}

.card .social-media i:hover{
    color: var(--primary-color);
}
.card .social-media i::selection{
    color: var(--primary-color);
}
.card .name-profession{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    color: var(--text-color); 
       
}

.name-profession .name {
    font-size: 16px;
    font-weight:500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.name-profession .profession {
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
}

.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i{
    font-size: 16px;
    color: var(--primary-color);
    margin: 0 2px;
}

.card .button{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.card .button button {
    background: var(--primary-color);
    border: none;
    outline: none;
    color:var(--body-color);
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.card .button button:hover{
    background-color: var(--sidebar-color);
    color:var(--text-color);
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    background-color: var(--sidebar-color);
    border-radius: 26px;
}
.swiper-button-next,
.swiper-button-prev {

    color: var(--text-color);
}

@keyframes porti-Nome{
    from {
        width: 0;
    }
    to {
        width: 305px;
    }
}
@keyframes cursor {
    from {
        border-right-color: var(--text-color);
    }
    to {
        border-right-color: transparent;
    }
}
.Botoes{
    margin-top: 50px;
}
.Botoes a{
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color:var(--text-color);
    border-radius: 12px;
    border: none;
    padding: 10px 40px 10px 40px;
    background-color: rgb(0, 183, 255);
    transition: 0.3s ease-in-out;
}
.Botoes a:hover{
    font-size: 60%;
    margin-right: 45px;
    color:var(--body-color) ;
}
.contato{
    display:block;
    justify-content: center;
    width: 100%; 
    padding: 40px 20px;
    border-top:2px solid var(--text-color);
    background: var(--body-color);
}
.contato h2{
    font-size: 16px;
    width: 1024px;
    padding: 5px 0px;
    text-align: center;
    color: var(--text-color);
}

form label, form p {
    display: block;
    align-items: center;
    font-size: 14px;
    color: var(--text-color); 
}

fieldset{
    width: 1024px;
    padding: 10px;
    border: 6px solid var(--primary-color);
    border-radius: 8px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    color: var(--text-color);
    padding: 10px 0px;
    width: 1024px;
    border: 6px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--body-color);
    
}
textarea {
    width: 100%;
    height: 30px;
}
.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 20%;
	padding: 10px 0;
	background: var(--primary-color-light);
	color: var(--text-color);
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s background;
	cursor: pointer;
}

.enviar:hover {
    color: var(--body-color);
	background: var(--primary-color);
	transform: scale(1.2);
}


.Sobre{
    background-color: rgba(35, 12, 249, 0);
}
.Sobre p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

footer {
	text-align: center;
	background:var(--body-color);
	padding: 10px 0;
}

footer img{
	width: 90px;
	border-radius: 8%;
	background-color:var(--primary-color);
}

footer p{
    background-color: transparent;
}

.copyright {
	color: var(--text-color);
	font-size: 12px;
	margin: 20px 0 0;
   
}


    