body{
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}
.Cabecario h1{
    color: rgb(0, 183, 255) ;
    margin: 0 auto;
}
.Cabecario{
    position:fixed;
    display: flex;
    align-items: center;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(0, 16, 33);
    border-bottom: 2px solid white;
   
}
.Cabecario img{
    width: 50px;
    padding: 10px 0px 10px 10px;
}
#dark-mode-input:checked ~ .Conteudo{
    background-color: aliceblue;
}
#dark-mode-input:checked ~ .Conteudo h1{
    color: black;
}
#dark-mode-input:checked ~ .Conteudo h2{
    color: black;
}
#dark-mode-input:checked ~ .Conteudo .Botoes a{
    color: black;
}
#dark-mode-input:checked ~ .Conteudo p{
    color: rgb(63, 62, 62);
}
.dark-mode{
    display: none;
}
.dark-mode-toggler{
    position:fixed;
    width: 80px;
    height: 40px;
    background: rgb(0, 16, 33);
    border: 2px solid rgb(0, 183, 255);
    border-radius: 20px;
    right: 10px;
    top: 15px;
    transition: all 300ms ease-in-out;
}
.dark-mode-toggler div{
    width:30px;
    height: 30px;
    background-color: aliceblue;
    background-image: url(../icons/luz.svg);
    border-radius: 50%;
    position: absolute;
    top:5px;
    left: 5px;
    transition: all 300ms ease-in-out;
}
#dark-mode-input:checked ~ .dark-mode-toggler{
    background: black;
}
#dark-mode-input:checked ~ .dark-mode-toggler div{
    background-image: url(../icons/luz1.svg);
    background-color:white ;
    left: 45px;
    
}
.Conteudo{
    background-color:rgb(0, 16, 33) ;
    top: 0;
}
.Apresentacao{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px 20px 20px;
}
.Info{
    margin: 0 auto;
    font-size: 120%;
}
.Nome{
    color: rgb(0, 183, 255);
}
.Intro{
    margin-right: 20px;
}

h1{
    color:white;
    letter-spacing: 10px;
}
p{
    color: silver;
}
.Botoes{
    margin-top: 50px;
}
.Botoes a{
    font-size: 70%;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 36px;
    padding:8px;
    margin-right: 40px;
    transition: 0.3s ease-in-out;
}
.Botoes a:hover{
    font-size: 65%;
    margin-right: 45px;
    background-image: linear-gradient(to right ,rgb(0, 183, 255),rgb(157, 221, 246));
}
.Cv{

    border: none;
    padding: 10px;
    background-image: linear-gradient(to right ,rgb(157, 221, 246),rgb(0, 183, 255));
}
.Apresentacao img{
    margin: auto;
    height: 200px;
    border-radius: 110% 60% 180% 40%;
    background-image: linear-gradient(to right ,rgb(0, 183, 255),rgb(157, 221, 246));
}
.Imagen-Perfil{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
}
.Imagen-Perfil img{
    height: 90%;
    transition: 0.3s ease-in-out;
}
.Imagen-Perfil img:hover{
    height: 95%;
    transition: 0.3s ease-in-out;
}
h2{
    color: white;
    text-align: center;
}
.Sobre p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.Skill{
    background: aliceblue;
}
.Skill img{
    color: rgb(66, 157, 157);
    background-color: aqua;
    height: 10%;
    width: 10%;
    padding:3%;
}

@media only screen and (max-width: 950px) {
    .Imagen-Perfil{
        width: 40vw;
        height: 50vh;
    }
   
}
@media only screen and (max-width: 600px){
    .Apresentacao{
        flex-direction:column-reverse;
        justify-content: center;
    }
    .Cabecario .Titulo{
        color: rgb(0, 183, 255) ;
        font-size: 20px;
    }
}