main {
    width: 1920px;
    height: 1080px;
    background: #E5E5E5;
}

.logo {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logo img {
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}

#texto {
    position: absolute;
    left: 240px;
    top: 165px;
    background: #E5E5E5;
    border: none;

}

#texto textarea, #texto ::placeholder {
    display: block;
    overflow: hidden;
    resize: none;
    font-family: 'Inter';
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}
.retangulo {
    position: absolute;
   
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;

    /* White */

    background: #FFFFFF;
    /* shadow */

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.retangulo img {
    position: absolute;
    left: 8%;
    top: 25%;
    bottom: -0.07%;
}

.quadrado-cripto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}

#cripto ::placeholder {
    width: 336px;
    height: 58px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    text-align: center;
    
    /* Gray/gray-500 */
    
    color: #343A40;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
textarea {
    display: block;
    overflow: hidden;
    resize: none;
    font-family: 'Inter';
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    
}
#cripto {
    width: 336px;
    height: 48px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0A3871;
    /* or 24px */
    
    text-align: center;
    
    /* Gray/gray-400 */
    
    color: #495057;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
   resize:none;
}

#cripto:focus, #texto:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 252px;
    height: 18px;
    left: 240px;
    top: 851px;

}
.exclamação{
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(73, 80, 87, 1);
    color: #E5E5E5;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.informacao{
    width: 228px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */


    /* Gray/gray-400 */

    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.botao-cripto{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.botao{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.botao button{
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;
    background-color: #0A3871;
    border-style: none;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.botao-2{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.botao-2 button{
    
    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;
    background-color:#D8DFE8;
    border-style: none;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}